.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
lib/
target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
settings.xml
activemq-data
overridedb.*
*.ipr
*.iws
.idea
*.jar
.DS_Store
dump.rdb
transaction-logs
classes
# IDEA artifacts and output dirs
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
*.iml

logs/
functor.kt
